html {
  color: black;
  font-family: 'Josefin Sans', 'Open Sans', sans-serif;
  /*background-color: #FFF2FD;*/
/*  background:
    linear-gradient(
      rgba(20, 11, 23, 0.5),
      rgba(20, 11, 23, 0.5)
      ),
    url(imgs/AboutMe-pic-2.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: 0px -90px
}

header {
  /*width:100%;*/
  font-family: 'Titillium Web', sans-serif;
  font-size:3em;
  text-align:left;
  margin-top: 55px;

  /*color:white;*/
}
nav {
  position:fixed;
  top:8px;
  margin:-13px;
  left:0;
  right:0;
  border: 2px solid #CBCCAD;
  background-color: #E1FFB2;
  padding-bottom: -5px;
  margin-bottom:15px;
  height:48px;
  border-top:10px;
  z-index:999;

  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;

  background-color: rgba(1, 1, 1, 1);
  color: rgba(1, 1, 1, 0.8);
}

.quote {
  padding: 60px;
  /*color: black;*/
  text-align: center;
  font-size: 50px;
}

#quote-second-line {
  margin-top: -45px;
}

ul li {font-size: 1.4em; font-weight: bolder; padding: 5.5%; display: inline; color: black;}

#name {
  margin-left: -25px;
}

a {
  padding-left: 8px;
}
a:link {color:white; text-decoration: none;}
a:hover {color:white; text-decoration: underline;}
a:visited {color:white; text-decoration: none;}

div li {padding: 0;}
div {display: block; padding-left: 5%; position:relative; vertical-align:center;}
div:first-child {margin-top:4px; }

.sm {
  height:27px;
  width:27px;
  display:inline-block;
  float:right;
  margin-right:10px;
  padding-top:6px; }

/*#bio-pic {
  width: 35%;
  margin-left:65%;
  position:absolute;
}*/


div h2 {
  /*color: black;*/
  position: fixed;
  /*margin-left: -3.4%;*/
  font-size: 2em;
}

.blog-image {width: 25%; padding-top:2%}
/*#left {position:relative; left:0; display:inline;} */
/*#right {position:relative; right:0; display:inline;} */

/*Contact*/
.contact-methods {
  font-size: 22px;
  margin-left: 44px;
  margin-top: 100px;

}

.contact-methods a {
  color: black
}


.construction {
  font-size: 22px;
  margin-left: 44px;
  margin-top: 100px;
}


/*Portfolio*/
.wya {
  text-align: center;
  /*display: inline-block;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 350px;
  border: gray 1px solid;
  margin-left: 20%;
}

.stardust {
  /*width: 50%;*/
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#stardust-home {
  width: 800px;
  padding-bottom: 40px
}
#stardust-signin {
  width: 500px;
  padding-bottom: 40px
}
#stardust-movies {
  width: 500px;
  padding-bottom: 40px
}

#page-title {
  margin-top: 7%;
}

#page-title a {
  color: black;

}

.portfolio-item-name {
  font-size: 1.2em;
  /*line-height: 130%;*/
  margin-left: -20px;
  border-bottom: gray solid 3px;
  border-spacing: 100;
  padding: 3px 60% 3px 3px
}

.portfolio-description {
  font-size: .9em;
  font-weight: 100;
}

li p {
  padding:22px;
/*  background:
    linear-gradient(
      rgba(2, 2, 2, 0.5),
      rgba(2, 2, 2, 0.5)
      );*/

  position: relative;
  margin:auto;
  width: 50%;
}